/Bgi_dataset_yolov7_label
/Bgi_dataset_yolov7_label.rar
/InsulatorDataSet
/InsulatorDataSet.v1i.yolov7pytorch
/InsulatorDataSet.v1i.yolov7pytorch.zip
/energy_hack_test_labeled_yolo
/energy_hack_test_labeled_yolo.zip
/innopolis-high-voltage-challenge
/innopolis-high-voltage-challenge.zip
/insulators_datasets_merged
/plan.txt